body{
    background-image: linear-gradient(black, blue, purple);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    text-align: left;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    color:white
}
h1{
    color:white

}
img{
    max-width: 600px;
    height: 500px;
    display: block;
    margin: auto;
}
.photo-text{
    color: white;
    margin-left: 600px;
}
.photo-link{
    color: black;
}
.photo-link:hover{
    color: red;
}
#link{
    color: black;

}
#link:hover{
    color: red;
}
.YouTube-link{
    color: black;
}
.YouTube-link:hover{
    color:red;
}
.quote{
    text-align: center;
    color: white;
    margin-left: 600px;
    margin-right: 600px;
}