body{
    background-color: black;
}
    .blogpic{
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
    }
    h1{
        color: white;
        text-align: center;
    }
    h2{
        color: white;
        text-align: center;
    }
    p{
        color: white;
        text-align: center;
    }
    .link:hover{
        color:red;
    }
    .link{
        color: blue;
    }
    .topbuttons{
        text-align: center;
     }
    