body{
    background-image: linear-gradient(blue, black, black, blue);
}
h1{
    color: white;
    right: 600px;
    text-align: center;
    
}
h2{
    color: white;
    text-align: center;
}
p{
    color: white;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} 
.topbuttons{
   text-align: center;
}
.home{
    background-color: black;
    color: white;
    font-size: medium;
}
.about{
    background-color: black;
    color: white;
    font-size: medium;
}
.blog{
    background-color: black;
    color: white;
    font-size: medium;
}
.portfolio{
    background-color: black;
    color: white;
    font-size: medium;
}
.topbuttons {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.Twitter{
    color: black;
    font-size: x-large;
}
.LinkedIn{
    color: black;
    font-size: x-large;
}
.TwitterButton{
    background-color: black;
    color: white;
    font-size: larger;
}
.LinkedInButton{
    background-color: black;
    color: white;
    font-size: larger;
}
